.content {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 20px 0;
}
.user_information {
}
.name {
    font-size: 30px;
    font-weight: 600;
    word-break: break-all;
}
