.wrap {
    margin: 15px 0 0 0;
    display: flex;
}
.name_info {
    flex: 0 0 30%;
    font-size: 15px;
    color: gray;
}
.desciption_info {
    flex: 0 0 70%;
    font-size: 16px;
    word-break: break-all;
    color: rgba(52, 52, 124, 0.904);
}
